<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body style="height: 100%">
    <header style="display: flex; flex-direction: row; gap: 1rem; font-size: 2rem; justify-content: center;">
        <a href="/">Home</a>
        <a href="/holidays">Holidays</a>
        <a href="/about">About</a>
        <a href="/support">Support</a>
        <a href="/login">Login</a>
    </header>
    <main style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%">
        <h1>404</h1>
        <h1>Page not Found!</h1>
    </main>
</body>
</html>