<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body style="height: 100%">
    <header style="display: flex; flex-direction: row; gap: 1rem; font-size: 2rem; justify-content: center;">
        <a href="/">Home</a>
        <a href="/holidays">Holidays</a>
        <a href="/about">About</a>
        <a href="/support">Support</a>
        <a href="/login">Login</a>
    </header>
    <main style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%">
        <h1 style="margin: 0; padding-top: 10rem;">Holidays</h1>
        <section id="holidays" style="height: 100%;">

        </section>
    </main>
</body>
<script>
    fetch("/api/holidays")
        .then(res => res.json())
        .then(holidays => {
            const holidaysDocument = document.getElementById("holidays");
            const startOfToday = new Date();
            startOfToday.setHours(0, 0, 0, 0);

            for (let holiday of holidays) {
                const date = new Date(holiday.date);
                const difference = date.getTime() - startOfToday.getTime();
                if (difference < 0) continue;

                const header = document.createElement("h4");
                header.innerText = holiday.name;

                const dateText = document.createElement("span");
                dateText.style.color = "gray"
                dateText.innerText = ` (${date.toLocaleDateString()})`;

                const type = document.createElement("p");
                type.innerText = `Type: ${holiday.type}`;

                const daysAway = document.createElement("p");
                const days = Math.round(difference / (86400000));
                const daysAwayText = days == 0 ? "Today" : `${days} day${days > 1 ? "s" : ""} away`;
                daysAway.innerText = `Days Away: ${daysAwayText}`

                header.appendChild(dateText);
                holidaysDocument.appendChild(header);
                holidaysDocument.appendChild(type);
                holidaysDocument.appendChild(daysAway);
                holidaysDocument.appendChild(document.createElement("br"));
            }
        })
        .catch(error => {
            holidaysDocument.innerText = "Failed to retrieve holidays!";
        })
</script>
</html>